body {
  align-self: center;
  background-color: slategrey;
  margin: 0px;
  width: auto;
}

.dark_background {
  background-color: #1f2937;
}

/* Signup Button */

.signup_button {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
}

.hero_item {
  flex: 1;

}

.hero_main {
  font-size: 36px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero_subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.hero_text_item {
  flex: 1;
}

.hero_item_right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_image {
  flex: 1;
}

/* Random section */

.random {
  margin: 20px 100px;
}

.random_header {
  text-align: center;
  padding: 0px;
}

.random_blocks {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: center;
}

.random_box {
  width: 40px;
  height: 100px;
  border-radius: 10px;
  flex: 1 1 auto;
  border: 4px solid teal;
  background-color: dodgerblue;
}

/* Nav Bar */

.nav_container {
  padding: 0% 5%;
  display: flex;
}

.nav_item {
  flex: 1;
}

.nav_links {
  align-self: right;
  /* width: 500px; */
  display: flex;
}

.nav_links a:link {
  color: white;
  text-decoration: none;
  flex: 1;
}

.nav_links a:visited {
  color: white;
  text-decoration: none;
}

.nav_links a:hover {
  color: red;
  text-decoration: underline;
}

.nav_logo {
  color: white;
  font-weight: bold;
}

/* Quote */
.quote {
  background-color: #e5e7eb;
  padding: 2% 20%;
  display: flex;
  flex-direction: column;
}

.quote_text {
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
  flex: 1;
  color: #1f2937;
}

.quote_author {
  font-style: bold;
  flex: 1;
  text-align: right;
}

/* Footer section */

.call_to_action {
  margin: 5% 5%;
  border-radius: 10px;
  background-color: #3882f6;
  display: flex;
}

.call_left_item {
  flex: 2;
  padding-top: 2%;
  padding-bottom: 2%;
}

.call_right_item {
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
}

.call_text {
  color: white;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.call_maintext {
  flex: 1;
  margin: 0px;
}

.call_subtext {
  flex: 1;
  margin: 0px;
  font-size: smaller;
}

.call_button {
  color: white;
  margin: 2% 5%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call_signup_button {
  flex: 1;
}

.footer {
  color: white;
  text-align: center;
  font-size: 12px;
  padding:3%;
}
